<div class="likes-container" id="like-<%= post.id %>">
    <div>
        <% if current_user.liked_posts.include?(post) %>
            <%= link_to post_like_path(post.id, Like.where(user_id: current_user.id).where(post_id: post.id).first.id), data: { turbo_method: :delete } do %>
                <%= image_tag 'icons/liked.svg', class: 'like-btn' %>
            <% end %>
        <% else %>
            <%= link_to post_likes_path(post.id), data: { turbo_method: :post } do %>
                <%= image_tag 'icons/like.svg', class: 'like-btn' %>
            <% end %>
        <% end %>
        <%= link_to likes_list_path(post.id), data: { turbo_frame: "modal" } do %>
            <p class="like-count"><%= post.likes.count %> likes</p>
        <% end %>
    </div>
    <div>
        <p class="like-count" data-action="click->post#show"><%= post.comments.count %> comments</p>        
        <%= image_tag 'icons/comment.svg', class: 'like-btn', data: { action: "click->post#show" } %>
    </div>
</div>