<nav>
    <%= link_to root_path do %>
        <%= image_tag 'icons/logo.svg', class: 'logo' %>
    <% end %>
    <div class="navbar-links">
        
        <% if current_user %>
            <div>
                <%= link_to user_path(current_user.id) do %>
                    <% if current_user.image.attached? %>
                        <%= image_tag current_user.image, class: "profile-picture-small" %>
                    <% elsif current_user.avatar_url %>
                        <%= image_tag current_user.avatar_url, class: "profile-picture-small" %>
                    <% else %>
                        <%= image_tag 'icons/duck.svg', class: "profile-picture-small" %>
                    <% end %>
                    <p><%= current_user.username %></p>
                <% end %>
            </div>
        <% end %>
        <%= link_to notifications_path do %>
            <%= image_tag 'icons/bell.svg', class: "icon" %>
            <p>Notifications</p>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete } do %>
            <%= image_tag 'icons/logout.svg', class: "icon" %>
            <p>Log out</p>
        <% end %>
    </div>
</nav>