<div id="<%= post.id %>" class="post" data-controller="post">
    <% if post.author == current_user %>
        <%= link_to post_path(post.id), data: {
            turbo_method: :delete,
            turbo_confirm: "Delete post?"
        } do %>
            <%= image_tag 'icons/delete.svg', class: 'icon' %>
        <% end %>
    <% end %>
    <div class="horizontal-container">
        <div>
            <% if post.author.image.attached? %>
                <%= image_tag post.author.image, class: "profile-picture-small" %>
            <% elsif post.author.avatar_url %>
                    <%= image_tag post.author.avatar_url, class: "profile-picture-small" %>
            <% else %>
                <%= image_tag 'icons/duck.svg', class: "profile-picture-small" %>
            <% end %>
            <%= link_to post.author.username, user_path(post.author.id), class: 'author' %>
        </div>
        <p class="post-time"><%= post.datetime.to_fs(:short) %></p>
    </div>
    <% if post.image.attached? %>
        <%= image_tag post.image, class: 'post-img' %>
    <% end%>
    <p class="text"><%= post.content %></p>
    <%= render "likes/likes", post: post %>
    <%= render "comments/form", post: post %>
    <div class="comments-container" id="comments-<%= post.id %>" data-post-target="comments"><%= render post.comments.reverse %></div>
    <hr data-post-target="show">
    <% if post.comments.none? %>
        <p class="show-comments" data-post-target="show" data-action="click->post#show">Post a first comment.</p>
    <% else %>
        <p class="show-comments" data-post-target="show" data-action="click->post#show">Show comments.</p>
    <% end %>
</div>